<%- include("partials/header") -%>

<h1>Home</h1>

<%= content %>

<% blogPosts.forEach(function(blog) { %>
<h3>
<%=  blog.title %>
</h3>

<p>
<%=  blog.body.substring(0,100) + " ..."; %>
<a href="/posts/<%=  blog.title %>">Read more</a>
</p>
<%  }); %>


<%- include("partials/footer") -%>
